.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-focus {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

.popup {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 4px 8px var(--shadow-color);
    padding: 20px;
    border-top: 3px solid var(--primary-color);
    transition: border-top ease 0.3s;
}

.popup {
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-name: popupIn;
}

.popup-close {
    animation-name: popupOut;
}

@keyframes popupIn {
    from {
        opacity: 0;
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes popupOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.popup-focus .popup {
    border-top: 3px solid var(--secondary-color);
}

.popup-content {
    width: 100%;
}

.popup-button * {
    font-size: 30px;
}

.popup-button, .popup-button * {
    background-color: transparent;
    height: 30px;
    width: 30px;
    box-sizing: border-box;
    padding: 0;
}

.popup-button:hover * {
    background-color: transparent;
    transform: scale(1.5);
}

.popup-button:active * {
    transform: scale(0.95);
}

.popup-content {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup-content::-webkit-scrollbar {
    width: 12px;
}

.popup-content::-webkit-scrollbar-track {
    background: transparent;
}

.popup-content::-webkit-scrollbar-thumb {
    background: var(--color-1);
    border-radius: 6px;
    transition: background 0.3s ease;
}

.popup-content::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}