.to_be_approved {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.to_be_approved .text {
    background-color: var(--color-3);
    width: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100vh;
    border: 2px, solid, var(--color-1);
}