:root {
  --color-1: #808080;
  --color-2: #ffffff;
  --color-3: #d5cedc;
  --color-4: #4d4d4d;
  --color-5: #d84242;
  --color-6: #ffc402;
  --color-7: #ffffff;
  --color-8: #ffffff78;
  --color-9: #fffef3;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  background-color: var(--color-7);
}

.non-selectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}