:root {
  --primary-color: #1f2224;
  --primary-color-2: #2f3235;
  --secondary-color: #41994a;
  --highlight-color: #bbffc4;
  --background-color: #050505;
  --text-color: #ebebeb;
  --text-color-secondary: #202020;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --warning-color: #f1c971;
  --harmful-color: #e74c3c;
  --unavailable-color: #2b2f30d0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.non-selectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bold {
  font-weight: bold;
}
/* Chrome, Edge, Opera, Safari */
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 8px;
    border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.15);
}

::-webkit-scrollbar-corner {
    background: transparent;
}

/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--secondary-color) transparent;
}