.books_content {
    position: absolute;
    inset: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 2rem;
    align-content: start;
    top: 5rem;
    padding-right: 1.35rem;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    border-radius: 1rem;
}

.books_content::-webkit-scrollbar {
    width: 12px;
}

.books_content::-webkit-scrollbar-track {
    background: transparent;
}

.books_content::-webkit-scrollbar-thumb {
    background: var(--color-1);
    border-radius: 6px;
    transition: background 0.3s ease;
}

.books_content::-webkit-scrollbar-thumb:hover {
    background: var(--color-3);
}

.book {
    width: 100%;
    height: 20rem;
}